# Documentation: https://haobogu.github.io/rmk/keyboard_configuration.html
[keyboard]
name = "Velvet"
product_name = "Velvet"
vendor_id = 0x4c4b
product_id = 0x4643
manufacturer = "Noir Guo"
chip = "nrf52840"

[layout]
rows = 4
cols = 12
layers = 6
keymap = [
    [
        ["Escape", "Q", "W", "E", "R", "T", "Y", "U", "I", "O", "P", "Backspace"],
        ["CapsLock", "A", "S", "D", "F", "G", "H", "J", "K", "L", "Up", "Backslash"],
        ["LShift", "Z", "X", "C", "V", "B", "N", "M", "Comma", "Dot", "Left", "Right"],
        ["_", "_", "_", "LCtrl", "_", "Enter", "Space", "_", "RShift", "_", "_", "_"]
    ],
    [
        ["Escape", "Q", "W", "E", "R", "T", "Y", "U", "I", "O", "P", "Backspace"],
        ["CapsLock", "A", "S", "D", "F", "G", "H", "J", "K", "L", "Up", "Backslash"],
        ["LShift", "Z", "X", "C", "V", "B", "N", "M", "Comma", "Dot", "Left", "Right"],
        ["_", "_", "_", "LCtrl", "_", "Enter", "Space", "_", "RShift", "_", "_", "_"]
    ],
    [
        ["Escape", "Q", "W", "E", "R", "T", "Y", "U", "I", "O", "P", "Backspace"],
        ["CapsLock", "A", "S", "D", "F", "G", "H", "J", "K", "L", "Up", "Backslash"],
        ["LShift", "Z", "X", "C", "V", "B", "N", "M", "Comma", "Dot", "Left", "Right"],
        ["_", "_", "_", "LCtrl", "_", "Enter", "Space", "_", "RShift", "_", "_", "_"]
    ],
    [
        ["Escape", "Q", "W", "E", "R", "T", "Y", "U", "I", "O", "P", "Backspace"],
        ["CapsLock", "A", "S", "D", "F", "G", "H", "J", "K", "L", "Up", "Backslash"],
        ["LShift", "Z", "X", "C", "V", "B", "N", "M", "Comma", "Dot", "Left", "Right"],
        ["_", "_", "_", "LCtrl", "_", "Enter", "Space", "_", "RShift", "_", "_", "_"]
    ],
    [
        ["Escape", "Q", "W", "E", "R", "T", "Y", "U", "I", "O", "P", "Backspace"],
        ["CapsLock", "A", "S", "D", "F", "G", "H", "J", "K", "L", "Up", "Backslash"],
        ["LShift", "Z", "X", "C", "V", "B", "N", "M", "Comma", "Dot", "Left", "Right"],
        ["_", "_", "_", "LCtrl", "_", "Enter", "Space", "_", "RShift", "_", "_", "_"]
    ],
    [
        ["Escape", "Q", "W", "E", "R", "T", "Y", "U", "I", "O", "P", "Backspace"],
        ["CapsLock", "A", "S", "D", "F", "G", "H", "J", "K", "L", "Up", "Backslash"],
        ["LShift", "Z", "X", "C", "V", "B", "N", "M", "Comma", "Dot", "Left", "Right"],
        ["_", "_", "_", "LCtrl", "_", "Enter", "Space", "_", "RShift", "_", "_", "_"]
    ],
]

[rmk]
# Maximum number of combos keyboard can store
combo_max_num = 15
# Maximum number of keys pressed simultaneously in a combo
combo_max_length = 4
debounce_time = 3
ble_profiles_num = 3

[storage]
# Storage feature is enabled by default
# enabled = false

[split]
connection = "ble"

# Ble configuration
[ble]
# Whether to enable BLE feature
enabled = true
# nRF52840's saadc pin for reading battery level, you can use a pin number or "vddh"
battery_adc_pin = "vddh"
# default_tx_power = 8

[split.central]
rows = 4
cols = 6
row_offset = 0
col_offset = 0
ble_addr = [0x18, 0xe2, 0x21, 0x80, 0xc0, 0xc7]

[split.central.matrix]
## promicro pin: 4 5 6 7
row_pins = ["P0_22", "P0_24", "P1_00", "P0_11"]
## promicro pin: 21 20 19 18 15 14
col_pins = ["P0_31", "P0_29", "P0_02", "P1_15", "P1_13", "P1_11"]

[[split.peripheral]]
rows = 4
cols = 6
row_offset = 0
col_offset = 6
ble_addr = [0x7e, 0xfe, 0x73, 0x9e, 0x66, 0xe3]

[split.peripheral.matrix]
## promicro pin: 4 5 6 7
row_pins = ["P0_22", "P0_24", "P1_00", "P0_11"]
## promicro pin: 21 20 19 18 15 14
col_pins = ["P0_31", "P0_29", "P0_02", "P1_15", "P1_13", "P1_11"]
