# Documentation: https://haobogu.github.io/rmk/keyboard_configuration.html
[keyboard]
name = "Velvet"
product_name = "Velvet"
vendor_id = 0x4c4b
product_id = 0x4643
manufacturer = "Noir Guo"
chip = "nrf52840"

[layout]
matrix_map = """
            (0,0, L) (0,1, L) (0,2, L) (0,3, L) (0,4, L) (0,5, L)                        (4,5, R) (4,4, R) (4,3, R) (4,2, R) (4,1, R) (4,0, R)
            (1,0, L) (1,1, L) (1,2, L) (1,3, L) (1,4, L) (1,5, L)                        (5,5, R) (5,4, R) (5,3, R) (5,2, R) (5,1, R) (5,0, R)
            (2,0, L) (2,1, L) (2,2, L) (2,3, L) (2,4, L) (2,5, L)                        (6,5, R) (6,4, R) (6,3, R) (6,2, R) (6,1, R) (6,0, R)
                                       (3,3, L) (3,4, L) (3,5, L)                        (7,5, R) (7,4, R) (7,3, R)
"""
rows = 8
cols = 6
layers = 8

[[layer]]
#layer 0 - Base
name = "base_layer"
keys = """
        Tab Q W E R T                                                Y U I O P Backslash
        Escape MT(A, LCtrl, HRM) MT(S, LAlt, HRM) MT(D, LGui, HRM) MT(F, LShift, HRM) G    H MT(J, RShift, HRM) MT(K, RGui, HRM) MT(L, RAlt, HRM) MT(Semicolon, RCtrl, HRM) Quote
        MO(4) MT(Z,LGui) X C V B                                    N M Comma Dot Slash Backspace
                               LT(6, Escape, ThumbTap) MO(2) Space         LT(5, Enter, ThumbTap) MO(3) LT(2, Backspace, ThumbTap)
"""
[[layer]]
#layer 1 - Windows
name = "windows_layer"
keys = """
        __ __ __ __ __ __                                             __ __ __ __ __ __
        __ MT(A,LCtrl) MT(S,LAlt) MT(D,LCtrl) MT(F,LShift) __       __ MT(J,RShift) MT(K,RCtrl) MT(L,RAlt) MT(Semicolon,RCtrl) __
        LGui __ __ __ __ __                                          __ __ __ __ __ __
                               __ __ __                                __ __ __
"""
[[layer]]
#layer 2 - Lower/Symbols
name = "symbol_layer"
keys = """
        __ WM(Kc1,LShift) WM(Kc2,LShift) WM(Kc3,LShift) WM(Kc4,LShift) WM(Kc5,LShift)   WM(Kc6,LShift) WM(Kc7,LShift) WM(Kc8,LShift) WM(Kc9,LShift) WM(Kc0,LShift) WM(Backslash,LShift)
        __ __ LeftBracket RightBracket WM(LeftBracket,LShift) WM(RightBracket,LShift)    Equal WM(Minus,LShift) Minus WM(Equal,LShift) WM(Quote,LShift) WM(Semicolon,LShift)
        __ __ RightBracket WM(Kc9,LShift) WM(Backslash,LShift) Backslash                Slash WM(Slash,LShift) Grave WM(Grave,LShift) Quote __
                               __ __ __                                                  WM(Grave,LShift) MO(4) Grave
"""

[[layer]]
#layer 3 - Raise/Mix
name = "mix_layer"
keys = """
        LShift F1 F2 F3 F4 F5                                           F6 F7 F8 F9 F10 F11
        LCtrl Kc5 Kc4 Kc3 Kc2 Kc1                                     Backspace Minus Equal WM(Equal,LShift) Quote F12
        LGui Kc6 Kc7 Kc8 Kc9 Kc0                                     Tab Insert Home End __ __
                               Tab MO(4) Backspace                      __ __ Kc3
"""
[[layer]]
#layer 4 - Adjust
name = "adjust_layer"
keys = """
        @Bt1 @BtPre __ __ __ __                                           __ __ __ __ __ __
        @Bt2 @BtNext __ __ __ __                                           TG(1) TO(0) __ __ __ TG(1)
        @Bt3 @BtClear @BtUsb @BtClear __ __                                           __ __ __ __ __ CapsLock
                               __ __ __                               __ __ Kc4
"""
[[layer]]
#layer 5 - Navigation
name = "navigation_layer"
keys = """
        __ __ __ MouseUp PageUp PageDown                            MouseBtn1 MouseBtn3 MouseBtn2 MouseWheelUp MouseWheelDown __
        __ __ MouseLeft MouseDown MouseRight MouseWheelUp           Left Down Up Right __ __
        __ __ __ __ __ MouseWheelDown                               __ __ __ __ __ __
                               MO(7) __ __                          __ __ Kc5
"""

[[layer]]
#layer 6 - Number/Keypad
name = "number_layer"
keys = """
        MO(7) __ __ __ __ __                                        Kp7 Kp8 Kp9 KpMinus KpAsterisk __
        __ __ __ __ __ __                                           Kp4 Kp5 Kp6 KpPlus KpSlash __
        __ __ __ __ __ __                                           Kp1 Kp2 Kp3 __ __ __
                               __ __ __                             Kp0 KpDot Kp0
"""

[[layer]]
#layer 7 - Debug
name = "debug_layer"
keys = """
        __ __ __ __ __ __                                           __ __ __ __ __ __
        __ __ __ __ __ __                                           __ __ __ __ __ __
        __ __ __ __ __ Bootloader                                   Bootloader __ __ __ __ __
                               __ __ __                               __ __ Kc7
"""

[rmk]
# Maximum number of combos keyboard can store
combo_max_num = 15
# Maximum number of keys pressed simultaneously in a combo
combo_max_length = 4
debounce_time = 3
ble_profiles_num = 3

[storage]
# Storage feature is enabled by default
# enabled = false

[behavior]

# default profile for morse, tap dance and tap-hold keys:
[behavior.morse]
enable_flow_tap = true
prior_idle_time = "30ms"
hold_timeout = "240ms"
gap_timeout = "230ms"
permissive_hold = true
hold_on_other_press = true
unilateral_tap = true

[behavior.morse.profiles]
# matrix_map may refer these to override the defaults given in [behavior.morse] for some key positions - this example is a home row mod
HRM = { permissive_hold = true, unilateral_tap = true, hold_timeout = "250ms" }
ThumbTap = { permissive_hold = false, unilateral_tap = false, hold_timeout = "250ms", hold_on_other_press = true }


[split]
connection = "ble"

# Ble configuration
[ble]
# Whether to enable BLE feature
enabled = true
# nRF52840's saadc pin for reading battery level, you can use a pin number or "vddh"
battery_adc_pin = "vddh"
# default_tx_power = 8

[split.central]
rows = 4
cols = 6
row_offset = 0
col_offset = 0
ble_addr = [0x18, 0xe2, 0x21, 0x80, 0xc0, 0xc7]

[split.central.matrix]
## promicro pin: 4 5 6 7
row_pins = ["P0_22", "P0_24", "P1_00", "P0_11"]
## promicro pin: 21 20 19 18 15 14
col_pins = ["P0_31", "P0_29", "P0_02", "P1_15", "P1_13", "P1_11"]

[[split.peripheral]]
rows = 4
cols = 6
row_offset = 0
col_offset = 6
ble_addr = [0x7e, 0xfe, 0x73, 0x9e, 0x66, 0xe3]

[split.peripheral.matrix]
## promicro pin: 4 5 6 7
row_pins = ["P0_22", "P0_24", "P1_00", "P0_11"]
## promicro pin: 21 20 19 18 15 14
col_pins = ["P0_31", "P0_29", "P0_02", "P1_15", "P1_13", "P1_11"]
