# Documentation: https://haobogu.github.io/rmk/keyboard_configuration.html
[keyboard]
name = "Velvet"
product_name = "Velvet"
vendor_id = 0x4c4b
product_id = 0x4643
serial_number = "vial:f64c2b3c" # Recognize by vial
manufacturer = "Noir Guo"
chip = "nrf52840"

[aliases]
Bt0 = "User0"
Bt1 = "User1"
Bt2 = "User2"
BtNext = "User3"
BtPre = "User4"
BtClear = "User5"
BtUsb = "User6"

[layout]
matrix_map = """
      (0,0, L) (0,1, L) (0,2, L) (0,3, L) (0,4, L) (0,5, L)                   (4,5, R) (4,4, R) (4,3, R) (4,2, R) (4,1, R) (4,0, R)
      (1,0, L) (1,1, L) (1,2, L) (1,3, L) (1,4, L) (1,5, L)                   (5,5, R) (5,4, R) (5,3, R) (5,2, R) (5,1, R) (5,0, R)
      (2,0, L) (2,1, L) (2,2, L) (2,3, L) (2,4, L) (2,5, L)                   (6,5, R) (6,4, R) (6,3, R) (6,2, R) (6,1, R) (6,0, R)
                                 (3,3, L) (3,4, L) (3,5, L)                   (7,5, R) (7,4, R) (7,3, R)
"""
rows = 8
cols = 6
layers = 8

[[layer]]
# layer 0 - Qwer for Mac
name = "qwer_mac"
keys = """
      Tab Q W E R T                                                           Y U I O P CapsLock
      LCtrl A MT(S,LAlt,HRM) MT(D,LShift,HRM) F G                             H J MT(K,RShift,HRM) MT(L,RAlt,HRM) Semicolon RCtrl
      LGui Z X C V B                                                          N M Comma Dot Slash RGui
      LT(2,Escape,THU) LT(6,Space,THU) LT(3,Backslash)                        Quote LT(4,Enter,THU) LT(5,Backspace,THU)
"""

[[layer]]
# layer 1 - Qwer for Windows
name = "qwer_win"
keys = """
      Tab Q W E R T                                                           Y U I O P CapsLock
      LCtrl A MT(S,LAlt,HRM) MT(D,LShift,HRM) F G                             H J MT(K,RShift,HRM) MT(L,RAlt,HRM) Semicolon RCtrl
      LGui Z X C V B                                                          N M Comma Dot Slash RGui
      LT(2,Escape,THU) LT(7,Space,THU) LT(3,Backslash)                        Quote LT(4,Enter,THU) LT(5,Backspace,THU)
"""

[[layer]]
# layer 2 - Function
name = "fun"
keys = """
      _ @Bt0 @Bt1 @Bt2 No No                                                  F10 F7 F8 F9 No No
      _ No LAlt LShift No No                                                  F11 F4 F5 F6 No No
      _ @BtClear No No No @BtUsb                                              F12 F1 F2 F3 TO(0) TO(1)
      No No No                                                                No No Delete
"""

[[layer]]
# layer 3 - Navigation
name = "nav"
keys = """
      _ No Home Up End No                                                     No No No No No _
      _ No Left Down Right No                                                 No No No No No _
      _ No PageDown No PageUp No                                              No No No No No _
      No No No                                                                No No No
"""

[[layer]]
# layer 4 - Number
name = "num"
keys = """
      _ No 7 8 9 0                                                            No No No No No _
      _ No 4 5 6 -                                                            No No No No No _
      _ No 1 2 3 =                                                            No No No No No _
      [ ] `                                                                   No No No
"""

[[layer]]
# layer 5 - Symbol
name = "sym"
keys = """
      _ No WM(7,LShift) WM(8,LShift) WM(9,LShift) WM(0,LShift)                No No No No No _
      _ No WM(4,LShift) WM(5,LShift) WM(6,LShift) WM(-,LShift)                No No No No No _
      _ No WM(1,LShift) WM(2,LShift) WM(3,LShift) WM(=,LShift)                No No No No No _
      WM([,LShift) WM(],LShift) WM(`,LShift)                                  No No No
"""

[[layer]]
# layer 6 - Edit for Mac
name = "edit_mac"
keys = """
      _ WM(Q,LAlt) WM(W,LAlt) WM(E,LAlt) WM(R,LAlt) WM(T,LAlt)                WM(Y,LAlt) No No No No _
      _ WM(A,LAlt) WM(S,LAlt) WM(D,LAlt) WM(F,LAlt) WM(G,LAlt)                WM(H,LAlt) No RShift RAlt No _
      _ WM(Z,LAlt) WM(X,LAlt) WM(C,LAlt) WM(V,LAlt) WM(B,LAlt)                WM(N,LAlt) No No No No _
      No No No                                                                No No No
"""

[[layer]]
# layer 7 - Edit for Windows
name = "edit_win"
keys = """
      _ WM(Q,LCtrl) WM(W,LCtrl) WM(E,LCtrl) WM(R,LCtrl) WM(T,LCtrl)           WM(Y,LCtrl) No No No No _
      _ WM(A,LCtrl) WM(S,LCtrl) WM(D,LCtrl) WM(F,LCtrl) WM(G,LCtrl)           WM(H,LCtrl) No RShift RAlt No _
      _ WM(Z,LCtrl) WM(X,LCtrl) WM(C,LCtrl) WM(V,LCtrl) WM(B,LCtrl)           WM(N,LCtrl) No No No No _
      No No No                                                                No No No
"""


[rmk]
combo_max_num = 15
combo_max_length = 4
debounce_time = 3
ble_profiles_num = 3

[storage]
# enabled = true

[behavior]

# default profile for morse, tap dance and tap-hold keys:
[behavior.morse]
enable_flow_tap = true
prior_idle_time = "80ms"
permissive_hold = true
hold_on_other_press = true
unilateral_tap = true

[behavior.morse.profiles]
HRM = { permissive_hold = true, unilateral_tap = true, hold_on_other_press = true }
THU = { permissive_hold = true, unilateral_tap = true, hold_on_other_press = true }

[[behavior.macro.macros]]
# Macro-0: <-
operations = [{ operation = "text", keycode = "<-" }]

[[behavior.macro.macros]]
# Macro-1: ->
operations = [{ operation = "text", keycode = "->" }]

[[behavior.macro.macros]]
# Macro-2: =>
operations = [{ operation = "text", keycode = "=>" }]

[[behavior.macro.macros]]
# Macro-3: <=
operations = [{ operation = "text", keycode = "<=" }]

[[behavior.macro.macros]]
# Macro-4: >=
operations = [{ operation = "text", keycode = ">=" }]

[[behavior.macro.macros]]
# Macro-5: !=
operations = [{ operation = "text", keycode = "!=" }]

[[behavior.macro.macros]]
# Macro-6: +=
operations = [{ operation = "text", keycode = "+=" }]

[[behavior.macro.macros]]
# Macro-7: -=
operations = [{ operation = "text", keycode = "-=" }]

[split]
connection = "ble"

# Ble configuration
[ble]
# Whether to enable BLE feature
enabled = true
# nRF52840's saadc pin for reading battery level, you can use a pin number or "vddh"
battery_adc_pin = "vddh"
# default_tx_power = 8

[split.central]
rows = 4
cols = 6
row_offset = 0
col_offset = 0
ble_addr = [0x18, 0xe2, 0x21, 0x80, 0xc0, 0xc7]

[split.central.matrix]
## promicro pin: 4 5 6 7
row_pins = ["P0_22", "P0_24", "P1_00", "P0_11"]
## promicro pin: 21 20 19 18 15 14
col_pins = ["P0_31", "P0_29", "P0_02", "P1_15", "P1_13", "P1_11"]

[[split.peripheral]]
rows = 4
cols = 6
row_offset = 0
col_offset = 6
ble_addr = [0x7e, 0xfe, 0x73, 0x9e, 0x66, 0xe3]

[split.peripheral.matrix]
## promicro pin: 4 5 6 7
row_pins = ["P0_22", "P0_24", "P1_00", "P0_11"]
## promicro pin: 21 20 19 18 15 14
col_pins = ["P0_31", "P0_29", "P0_02", "P1_15", "P1_13", "P1_11"]
